---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

const features = [
  {
    title: "El software que deseas.",
    description:
      "Desarrollamos software único para tu empresa, con lo último de tecnologías y mejores prácticas",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Página web personalizada.",
    description:
      "Te podemos ayudar a hacer una página web estática para presentarte a tí o a tu empresa.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Bases de datos",
    description:
      "Si necesitas diseñar, desarrollar y/o gestionar una base de datos, no dudes en llamarnos",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Conoce nuestros servicios
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Los grandes inventos del presente empezaron como una simple idea.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          <div class="mt-6 flex flex-col sm:flex-row gap-3">
            <Link
              href="/blog"
              class="flex gap-1 items-center justify-center hover:translate-y-1"
              rel="noopener">
              Conoce más aquí
            </Link>
          </div>
        </div>
      </div>
    ))
  }
</div>
